/* vars */
:root {
    --disc: 70vmin;
}

/* animation */
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* dom styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    -webkit-user-select: none;
    user-select: none;
    background: -webkit-linear-gradient(bottom, #dddceb 0%, #e6c07a 75%);
    background: linear-gradient(to top, #dddceb 0%, #e6c07a 75%);
}
section {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    padding: 3vmin;
    background-color: #af8740; /*#987536*/
    border: 0.5vmin solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2vmin;
    border-radius: 2vmin;
    -webkit-box-shadow: 1.5vmin 1vmin rgba(0, 0, 0, 0.2);
    box-shadow: 1.5vmin 1vmin rgba(0, 0, 0, 0.2);
}
section #disc {
    width: var(--disc);
    height: var(--disc);
    cursor: pointer;
    margin-bottom: 3vmin;
    background: url(disc.svg) no-repeat center;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
}
section #disc.running {
    animation-play-state: running;
}
section #bar {
    display: flex;
    width: calc(var(--disc) - 7vmin);
    height: 6vmin;
    background-color: #222;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 1vmin;
    border-radius: 1vmin;
}
section #bar:active { outline: 0.65vmin dashed #222; }
section #bar p {
    font-size: 2.5vmin;
    margin: auto;
    color: #eaeaea;
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Ubuntu';
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1vw 0 1vw;
    letter-spacing: 0.3vmin;
    -webkit-text-stroke: thin;
    -webkit-user-select: initial;
    user-select: initial;
    text-rendering: geometricPrecision;
    -webkit-animation: blink 2s ease infinite;
    animation: blink 2s ease infinite;
}
section #bar:hover p {
    -webkit-animation: none;
    animation: none;
}
section #knob {
    display: flex;
    width: 6vmin;
    background-color: #222;
    margin-left: 1vmin;
    cursor: pointer;
    -webkit-border-radius: 1vmin;
    border-radius: 1vmin;
    -webkit-tap-highlight-color: transparent;
}
section #knob #up, section #knob #down {
    position: absolute;
    width: 6vmin;
    height: 3vmin;
    background: url(st.svg) no-repeat center;
    background-size: contain;
}
section #knob #down {
    align-self: flex-end;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
section #knob #up:active, section #knob #down:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
section #knob #down:active {
    -webkit-transform: scale(0.9) rotate(180deg);
    transform: scale(0.9) rotate(180deg);
}
