/* media styles */
@media screen and (max-width: 320px) {
    section { padding: 5px 5px 10px 5px; }
    section #disc { width: 100px; height: 100px; margin: 0 auto 10px auto; }
    section #bar { width: 100px; height: 20px; }
    section #bar p { font-size: 6px; }
    section #knob { display: none; }
}
@media screen and (min-width: 320px) {
    section { padding: 15px 15px 20px 15px; }
    section #disc { width: 200px; height: 200px; margin: 0 auto 25px auto; }
    section #bar { width: 150px; height: 35px; }
    section #bar p { font-size: 11px; }
    section #knob { width: 35px; height: 35px; display: inline-block; }
    section #knob #up, section #knob #down { width: 35px; height: 17px; }
}
@media screen and (min-width: 620px) {
    section { padding: 25px 25px 30px 25px; }
    section #disc { width: 400px; height: 400px; margin: 0 auto 25px auto; }
    section #bar { width: 320px; height: 50px; }
    section #bar p { font-size: 16px; }
    section #knob { width: 50px; height: 50px; display: inline-block; }
    section #knob #up, section #knob #down { width: 50px; height: 25px; }
}

/* animation */
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* dom styles */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    -webkit-user-select: none;
    user-select: none;
    background: -webkit-linear-gradient(bottom, #dddceb 0%, #e6c07a 75%);
    background: linear-gradient(to top, #dddceb 0%, #e6c07a 75%);
}
section {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #af8740;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 15px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 12px rgba(0, 0, 0, 0.2);
}
section #disc {
    cursor: pointer;
    background-image: url(disc.svg);
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-border-radius: 400px;
    border-radius: 400px;
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
}
section #disc.running {
    animation-play-state: running;
}
section #bar {
    background-color: #222;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
section #bar:active { outline: 3px dashed #222; }
section #bar p {
    color: #eaeaea;
    text-align: center;
    text-overflow: ellipsis;
    position: relative;
    font-family: 'Ubuntu';
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px 0 15px;
    letter-spacing: 1px;
    -webkit-text-stroke: thin;
    -webkit-user-select: initial;
    user-select: initial;
    text-rendering: geometricPrecision;
    -webkit-animation: blink 2s ease infinite;
    animation: blink 2s ease infinite;
}
section #bar:hover p {
    -webkit-animation: none;
    animation: none;
}
section #knob {
    position: relative;
    background-color: #222;
    margin-left: 5%;
    cursor: pointer;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
section #knob #up, section #knob #down {
    position: absolute;
    background: url(st.svg) no-repeat center;
    background-size: contain;
}
section #knob #down {
    top: 50%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
section #knob #up:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
section #knob #down:active {
    -webkit-transform: scale(0.9) rotate(180deg);
    transform: scale(0.9) rotate(180deg);
}
